//reusable function

@mixin flex-center {
	display: flex;
	// align-items: center;
	justify-content: center;
}
@mixin h2-style {
	font-size: 22px;
	color: black;
	font-weight: 500;
}
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}
