/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
  }
}
@-moz-keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
  }
}
@-ms-keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
  }
}
@-o-keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
  }
}
@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
  }
}
@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    position: relative;
  }
}
@-moz-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    position: relative;
  }
}
@-ms-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    position: relative;
  }
}
@-o-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    position: relative;
  }
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    position: relative;
  }
}
@-webkit-keyframes expand {
  0% {
    transform: translateY(1400px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-moz-keyframes expand {
  0% {
    transform: translateY(1400px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-ms-keyframes expand {
  0% {
    transform: translateY(1400px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-o-keyframes expand {
  0% {
    transform: translateY(1400px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes expand {
  0% {
    transform: translateY(1400px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-webkit-keyframes slideIn {
  0% {
    transform: translateX(500px) scale(0.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}
@-moz-keyframes slideIn {
  0% {
    transform: translateX(500px) scale(0.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}
@-ms-keyframes slideIn {
  0% {
    transform: translateX(500px) scale(0.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}
@-o-keyframes slideIn {
  0% {
    transform: translateX(500px) scale(0.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(500px) scale(0.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}
@-webkit-keyframes slideUp {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-moz-keyframes slideUp {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-ms-keyframes slideUp {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-o-keyframes slideUp {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes leftSlide {
  100% {
    right: 0;
  }
}
@-moz-keyframes leftSlide {
  100% {
    right: 0;
  }
}
@-ms-keyframes leftSlide {
  100% {
    right: 0;
  }
}
@-o-keyframes leftSlide {
  100% {
    right: 0;
  }
}
@keyframes leftSlide {
  100% {
    right: 0;
  }
}
@-webkit-keyframes rightSlide {
  0% {
    opacity: 1;
    right: 0px;
    width: 80px;
    display: flex;
  }
  50% {
    opacity: 0.5;
    right: 40px;
  }
  100% {
    right: 80px;
    opacity: 0;
    width: 0px;
    display: none;
  }
}
@-moz-keyframes rightSlide {
  0% {
    opacity: 1;
    right: 0px;
    width: 80px;
    display: flex;
  }
  50% {
    opacity: 0.5;
    right: 40px;
  }
  100% {
    right: 80px;
    opacity: 0;
    width: 0px;
    display: none;
  }
}
@-ms-keyframes rightSlide {
  0% {
    opacity: 1;
    right: 0px;
    width: 80px;
    display: flex;
  }
  50% {
    opacity: 0.5;
    right: 40px;
  }
  100% {
    right: 80px;
    opacity: 0;
    width: 0px;
    display: none;
  }
}
@-o-keyframes rightSlide {
  0% {
    opacity: 1;
    right: 0px;
    width: 80px;
    display: flex;
  }
  50% {
    opacity: 0.5;
    right: 40px;
  }
  100% {
    right: 80px;
    opacity: 0;
    width: 0px;
    display: none;
  }
}
@keyframes rightSlide {
  0% {
    opacity: 1;
    right: 0px;
    width: 80px;
    display: flex;
  }
  50% {
    opacity: 0.5;
    right: 40px;
  }
  100% {
    right: 80px;
    opacity: 0;
    width: 0px;
    display: none;
  }
}
@keyframes animationCheck {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.container {
  max-width: 90%;
  margin: auto;
}

.loader-section {
  height: 100vh;
  -webkit-animation: fadeOutAnimation ease 4.2s;
  -moz-animation: fadeOutAnimation ease 4.2s;
  -ms-animation: fadeOutAnimation ease 4.2s;
  -o-animation: fadeOutAnimation ease 4.2s;
  animation: fadeOutAnimation ease 4.2s;
  animation-fill-mode: forwards;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.loader-section .loader {
  margin: 20px auto;
  background-color: #ff79da;
  position: relative;
  display: inline-block;
  width: 70px;
  height: 70px;
  vertical-align: middle;
}
.loader-section .loader-quart {
  border-radius: 50px;
  border: 6px solid rgba(255, 255, 255, 0.4);
}
.loader-section .loader-quart:after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #fff;
  -webkit-animation: spin 500ms linear infinite;
  -moz-animation: spin 500ms linear infinite;
  -ms-animation: spin 500ms linear infinite;
  -o-animation: spin 500ms linear infinite;
  animation: spin 500ms linear infinite;
}
.loader-section p {
  font-size: 20px;
  text-align: center;
}

section.page {
  -webkit-animation: expand ease 4.2s;
  -moz-animation: expand ease 4.2s;
  -ms-animation: expand ease 4.2s;
  -o-animation: expand ease 4.2s;
  animation: expand ease 4.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

figure.logo-img {
  display: flex;
  justify-content: center;
  margin: 0;
}
figure.logo-img img {
  margin: 20px auto 15px auto;
  height: 35px;
}

.presentation-part {
  background-color: rgb(245, 245, 245);
  padding-bottom: 25px;
}
.presentation-part .location-part {
  box-shadow: inset 0 7px 9px -7px rgb(165, 163, 163);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(232, 231, 231);
  padding: 25px 0;
}
.presentation-part .location-part i {
  font-size: 20px;
}
.presentation-part .location-part p {
  font-size: 20px;
  margin-left: 15px;
}
.presentation-part h1 {
  opacity: 0;
  margin: 40px 25px 15px 25px;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  transform: translateY(100px);
  -webkit-animation: slideUp .8s ease forwards 3.2s;
  -moz-animation: slideUp .8s ease forwards 3.2s;
  -ms-animation: slideUp .8s ease forwards 3.2s;
  -o-animation: slideUp .8s ease forwards 3.2s;
  animation: slideUp .8s ease forwards 3.2s;
}
.presentation-part p.description-page {
  font-weight: 100;
  font-size: 19px;
  text-align: center;
  transform: translateY(100px);
  opacity: 0;
  -webkit-animation: slideUp .8s ease forwards 3.3s;
  -moz-animation: slideUp .8s ease forwards 3.3s;
  -ms-animation: slideUp .8s ease forwards 3.3s;
  -o-animation: slideUp .8s ease forwards 3.3s;
  animation: slideUp .8s ease forwards 3.3s;
}
.presentation-part div {
  transform: translateY(100px);
  opacity: 0;
  -webkit-animation: slideUp .8s ease forwards 3.4s;
  -moz-animation: slideUp .8s ease forwards 3.4s;
  -ms-animation: slideUp .8s ease forwards 3.4s;
  -o-animation: slideUp .8s ease forwards 3.4s;
  animation: slideUp .8s ease forwards 3.4s;
}
.presentation-part div button {
  margin: 40px auto 40px auto;
  font-size: 18px;
  padding: 18px 30px;
  color: white;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  background: linear-gradient(#ff79da, #9356dc);
  border: none;
  box-shadow: 0px 5px 15px rgb(179, 179, 179);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  transform: scale(0.95);
}
.presentation-part div button:hover {
  transform: scale(1.01);
  transition-property: transform;
  transition-duration: 400ms;
}

h2 {
  font-size: 22px;
  color: black;
  font-weight: 500;
  margin-top: 45px;
  margin-bottom: 20px;
}

section.function-part {
  transform: translateY(100px);
  opacity: 0;
  -webkit-animation: slideUp .8s ease forwards 3.4s;
  -moz-animation: slideUp .8s ease forwards 3.4s;
  -ms-animation: slideUp .8s ease forwards 3.4s;
  -o-animation: slideUp .8s ease forwards 3.4s;
  animation: slideUp .8s ease forwards 3.4s;
}
@media (min-width: 1080px) {
  section.function-part .container .functions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    gap: 15px;
  }
}
section.function-part .container .functions article {
  position: relative;
  background-color: rgb(248, 248, 248);
  padding: 34px 0px 34px 35px;
  border-radius: 25px;
  margin: 20px 0px 20px 15px;
  box-shadow: 5px 5px 5px rgb(223, 222, 222);
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  transform: scale(1);
}
@media (min-width: 1080px) {
  section.function-part .container .functions article {
    flex: 25%;
  }
}
section.function-part .container .functions article:hover {
  background-color: #f9f1fe;
  transform: scale(1.01);
  transition-property: transform;
  transition-duration: 400ms;
}
section.function-part .container .functions article:hover .function-content i {
  color: #9356dc;
}
section.function-part .container .functions article .function-number {
  position: absolute;
  font-size: 17px;
  padding: 15px;
  border-radius: 35px;
  background-color: #9356dc;
  width: 20px;
  height: 20px;
  text-align: center;
  color: white;
  top: 0;
  bottom: 0;
  left: -16px;
  margin: auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.function-part .container .functions article .function-content {
  display: flex;
  justify-content: start;
  align-items: center;
}
section.function-part .container .functions article .function-content i {
  font-size: 20px;
  color: rgb(111, 110, 110);
  margin-right: 25px;
  width: 20px;
  display: flex;
  justify-content: center;
}
section.function-part .container .functions article .function-content p {
  font-size: 18px;
  font-weight: 500;
}

section.restaurant-list {
  transform: translateY(100px);
  opacity: 0;
  -webkit-animation: slideUp .8s ease forwards 3.4s;
  -moz-animation: slideUp .8s ease forwards 3.4s;
  -ms-animation: slideUp .8s ease forwards 3.4s;
  -o-animation: slideUp .8s ease forwards 3.4s;
  animation: slideUp .8s ease forwards 3.4s;
  background-color: rgb(245, 245, 245);
}
section.restaurant-list .container {
  padding-top: 1px;
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  section.restaurant-list .container .restaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
  }
}
section.restaurant-list .container .restaurants article.restaurant-item {
  box-shadow: 0px 5px 15px rgb(226, 225, 225);
  border-radius: 15px;
  position: relative;
  margin-bottom: 30px;
  cursor: pointer;
  transform: scale(1);
  transition: all 0.4s ease-in-out;
}
@media (min-width: 768px) {
  section.restaurant-list .container .restaurants article.restaurant-item {
    flex: 42%;
    margin-bottom: 0px;
  }
}
section.restaurant-list .container .restaurants article.restaurant-item:hover {
  transform: scale(1.01);
  transition-property: transform;
  transition-duration: 400ms;
}
section.restaurant-list .container .restaurants article.restaurant-item:hover .card-body {
  background-color: #f9f1fe;
}
section.restaurant-list .container .restaurants article.restaurant-item a {
  text-decoration: none;
  color: black;
}
section.restaurant-list .container .restaurants article.restaurant-item a .new-tag {
  position: absolute;
  right: 3%;
  top: 4%;
  padding: 6px 10px;
  background-color: #99e2d0;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 400;
  color: #048361;
}
section.restaurant-list .container .restaurants article.restaurant-item a figure.card-img {
  margin: 0;
  height: 200px;
  overflow: hidden;
}
section.restaurant-list .container .restaurants article.restaurant-item a figure.card-img img {
  max-width: 100%;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: fill;
  margin: 0;
}
section.restaurant-list .container .restaurants article.restaurant-item a .card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 5px 15px;
}
section.restaurant-list .container .restaurants article.restaurant-item a .card-body .card-content h3.card-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 8px;
}
section.restaurant-list .container .restaurants article.restaurant-item a .card-body .card-content p.card-des {
  font-size: 16.8px;
  margin: 5px 0 10px 0;
  font-weight: 200;
}
section.restaurant-list .container .restaurants article.restaurant-item a .card-body .heart-icon {
  cursor: pointer;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.restaurant-list .container .restaurants article.restaurant-item a .card-body .heart-icon i.fas.fa-heart.hover {
  display: none;
}
section.restaurant-list .container .restaurants article.restaurant-item a .card-body .heart-icon i {
  font-size: 25px;
  color: black;
}
section.restaurant-list .container .restaurants article.restaurant-item a .card-body .heart-icon:hover i.fas.fa-heart.hover {
  display: block;
  background: -moz-linear-gradient(top, #ff79da 0%, #9356dc 100%);
  background: -webkit-linear-gradient(top, #ff79da 0%, #9356dc 100%);
  background: linear-gradient(to bottom, #ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
section.restaurant-list .container .restaurants article.restaurant-item a .card-body .heart-icon:hover i.far.fa-heart.unhover {
  display: none;
}

footer {
  transform: translateY(100px);
  opacity: 0;
  background-color: rgb(67, 67, 67);
  color: rgb(245, 244, 244);
  padding-top: 1px;
  padding-bottom: 40px;
  -webkit-animation: slideUp .8s ease forwards 3.4s;
  -moz-animation: slideUp .8s ease forwards 3.4s;
  -ms-animation: slideUp .8s ease forwards 3.4s;
  -o-animation: slideUp .8s ease forwards 3.4s;
  animation: slideUp .8s ease forwards 3.4s;
}
footer .logo {
  margin-top: 20px;
  font-family: "Shrikhand", cursive, sans-serif;
  font-size: 22px;
}
footer .footer-list {
  margin-top: 20px;
}
footer .footer-list .footer-item-with-icon {
  display: flex;
  justify-content: start;
  align-items: center;
}
footer .footer-list .footer-item-with-icon i {
  width: 25px;
  font-size: 14px;
}
footer .footer-list .footer-item-with-icon p {
  margin: 5px 0;
}
footer .footer-list .footer-item {
  margin: 6px 0;
  font-weight: 200;
}
footer .footer-list .footer-item a {
  text-decoration: none;
  color: white;
}

/*# sourceMappingURL=index.css.map */
