.card {
  background-color: white;
  width: 20rem;
  overflow: hidden;
  margin: 2rem;
  -webkit-box-shadow: 5px 5px 5px 5px #000;
          box-shadow: 5px 5px 5px 5px #000;
  border-radius: 0.5rem;
  /* using the mixins function */
}

.card img {
  height: 15rem;
  background-size: cover;
  background-position: center center;
}

.card .card_content {
  padding: 2rem;
}

.card .card_title {
  margin: 0;
  color: black;
}

.card .card_description {
  margin: 0;
  color: #999;
}

.card_dark {
  background-color: black;
}

.card_dark .card_title {
  color: white;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.container {
  max-width: 90%;
  margin: auto;
}

header .logo {
  position: relative;
}

header .logo a {
  cursor: pointer;
}

header .logo a:hover i {
  color: #4a9482;
}

header .logo a i {
  position: absolute;
  font-size: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 5%;
  color: #434343;
}

header .logo figure.logo-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

header .logo figure.logo-img img {
  margin: 20px auto 15px auto;
  height: 35px;
}

main {
  position: relative;
}

main .img-dish {
  width: 100%;
  overflow: hidden;
}

main .img-dish figure {
  margin: 0;
}

main .img-dish figure img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

main .detail {
  position: absolute;
  top: 190px;
  height: 500px;
  width: 100%;
  background-color: #f8f8f8;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  padding-top: 10px;
  margin: auto;
}

main .detail .resto-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .detail .resto-name h1 {
  font-family: "Shrikhand", cursive, sans-serif;
  font-size: 28px;
  font-weight: 100;
}

main .detail .resto-name i {
  font-size: 25px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

main .detail .resto-name i:hover {
  cursor: pointer;
  background: -webkit-gradient(linear, right top, left bottom, from(#9356dc), to(#ff79da));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

main .detail section h2 {
  font-weight: 100;
  font-size: 17px;
  margin: 0;
}

main .detail section hr.border {
  border: 2px solid #99e2d0;
  width: 40px;
  margin-left: 0;
  margin-top: 2;
}

main .detail section .list article {
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 5px #dad7d7;
          box-shadow: 0px 5px 5px #dad7d7;
  padding: 12px 20px 12px 10px;
}

main .detail section .list article h3 {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
}

main .detail section .list article .dish-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .detail section .list article .dish-detail p.ingredient {
  font-weight: 100;
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 5px;
}

main .detail section .list article .dish-detail p.price {
  font-weight: 500;
  color: #434242;
  margin-bottom: 0;
  margin-top: 5px;
}
/*# sourceMappingURL=menu.css.map */