/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
  }
}
@-moz-keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
  }
}
@-ms-keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
  }
}
@-o-keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
  }
}
@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
  }
}
@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    position: relative;
  }
}
@-moz-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    position: relative;
  }
}
@-ms-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    position: relative;
  }
}
@-o-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    position: relative;
  }
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    position: relative;
  }
}
@-webkit-keyframes expand {
  0% {
    transform: translateY(1400px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-moz-keyframes expand {
  0% {
    transform: translateY(1400px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-ms-keyframes expand {
  0% {
    transform: translateY(1400px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-o-keyframes expand {
  0% {
    transform: translateY(1400px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes expand {
  0% {
    transform: translateY(1400px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-webkit-keyframes slideIn {
  0% {
    transform: translateX(500px) scale(0.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}
@-moz-keyframes slideIn {
  0% {
    transform: translateX(500px) scale(0.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}
@-ms-keyframes slideIn {
  0% {
    transform: translateX(500px) scale(0.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}
@-o-keyframes slideIn {
  0% {
    transform: translateX(500px) scale(0.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(500px) scale(0.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}
@-webkit-keyframes slideUp {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-moz-keyframes slideUp {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-ms-keyframes slideUp {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-o-keyframes slideUp {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes leftSlide {
  100% {
    right: 0;
  }
}
@-moz-keyframes leftSlide {
  100% {
    right: 0;
  }
}
@-ms-keyframes leftSlide {
  100% {
    right: 0;
  }
}
@-o-keyframes leftSlide {
  100% {
    right: 0;
  }
}
@keyframes leftSlide {
  100% {
    right: 0;
  }
}
@-webkit-keyframes rightSlide {
  0% {
    opacity: 1;
    right: 0px;
    width: 80px;
    display: flex;
  }
  50% {
    opacity: 0.5;
    right: 40px;
  }
  100% {
    right: 80px;
    opacity: 0;
    width: 0px;
    display: none;
  }
}
@-moz-keyframes rightSlide {
  0% {
    opacity: 1;
    right: 0px;
    width: 80px;
    display: flex;
  }
  50% {
    opacity: 0.5;
    right: 40px;
  }
  100% {
    right: 80px;
    opacity: 0;
    width: 0px;
    display: none;
  }
}
@-ms-keyframes rightSlide {
  0% {
    opacity: 1;
    right: 0px;
    width: 80px;
    display: flex;
  }
  50% {
    opacity: 0.5;
    right: 40px;
  }
  100% {
    right: 80px;
    opacity: 0;
    width: 0px;
    display: none;
  }
}
@-o-keyframes rightSlide {
  0% {
    opacity: 1;
    right: 0px;
    width: 80px;
    display: flex;
  }
  50% {
    opacity: 0.5;
    right: 40px;
  }
  100% {
    right: 80px;
    opacity: 0;
    width: 0px;
    display: none;
  }
}
@keyframes rightSlide {
  0% {
    opacity: 1;
    right: 0px;
    width: 80px;
    display: flex;
  }
  50% {
    opacity: 0.5;
    right: 40px;
  }
  100% {
    right: 80px;
    opacity: 0;
    width: 0px;
    display: none;
  }
}
@keyframes animationCheck {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.container {
  max-width: 90%;
  margin: auto;
}

header .logo {
  display: block;
  position: relative;
}
header .logo a {
  cursor: pointer;
}
header .logo a:hover i {
  color: #4a9482;
}
header .logo a i {
  position: absolute;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
  color: rgb(67, 67, 67);
}
header .logo figure.logo-img {
  display: flex;
  justify-content: center;
  margin: 0;
}
header .logo figure.logo-img img {
  margin: 20px auto 15px auto;
  height: 35px;
}

main {
  display: block;
  position: relative;
  height: max-content;
}
main .img-dish {
  width: 100%;
  overflow: hidden;
  max-height: 300px;
}
@media (min-width: 560px) {
  main .img-dish {
    max-height: 400px;
  }
}
@media (min-width: 560px) {
  main .img-dish {
    max-height: 500px;
  }
}
main .img-dish figure {
  margin: 0;
}
main .img-dish figure img {
  object-fit: cover;
  max-width: 100%;
}
main .detail {
  display: block;
  transform: translateY(-35px);
  width: 100%;
  background-color: rgb(248, 248, 248);
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  padding-top: 10px;
  margin: auto;
}
main .detail .resto-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .detail .resto-name h1 {
  font-family: "Shrikhand", cursive, sans-serif;
  font-size: 28px;
  font-weight: 100;
  margin-top: 20px;
}
main .detail .resto-name .heart-icon {
  cursor: pointer;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .detail .resto-name .heart-icon i.fas.fa-heart.hover {
  display: none;
}
main .detail .resto-name .heart-icon i {
  font-size: 25px;
  color: black;
}
main .detail .resto-name .heart-icon:hover i.fas.fa-heart.hover {
  display: block;
  background: -moz-linear-gradient(top, #ff79da 0%, #9356dc 100%);
  background: -webkit-linear-gradient(top, #ff79da 0%, #9356dc 100%);
  background: linear-gradient(to bottom, #ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .detail .resto-name .heart-icon:hover i.far.fa-heart.unhover {
  display: none;
}
main .detail section h2 {
  font-weight: 100;
  font-size: 17px;
  margin-top: 40px;
  transform: translateY(100px);
  opacity: 0;
  -webkit-animation: slideUp .8s ease forwards .1s;
  -moz-animation: slideUp .8s ease forwards .1s;
  -ms-animation: slideUp .8s ease forwards .1s;
  -o-animation: slideUp .8s ease forwards .1s;
  animation: slideUp .8s ease forwards .1s;
}
main .detail section hr.border {
  border: 2px solid #99e2d0;
  width: 40px;
  margin: 2px 0 15px 0;
  transform: translateY(100px);
  opacity: 0;
  -webkit-animation: slideUp .8s ease forwards .1s;
  -moz-animation: slideUp .8s ease forwards .1s;
  -ms-animation: slideUp .8s ease forwards .1s;
  -o-animation: slideUp .8s ease forwards .1s;
  animation: slideUp .8s ease forwards .1s;
}
main .detail section .list article.article-1 {
  opacity: 0;
  transform: translateY(100px);
  -webkit-animation: slideUp .5s ease forwards .2s;
  -moz-animation: slideUp .5s ease forwards .2s;
  -ms-animation: slideUp .5s ease forwards .2s;
  -o-animation: slideUp .5s ease forwards .2s;
  animation: slideUp .5s ease forwards .2s;
}
main .detail section .list article.article-2 {
  opacity: 0;
  transform: translateY(100px);
  -webkit-animation: slideUp .5s ease forwards .35s;
  -moz-animation: slideUp .5s ease forwards .35s;
  -ms-animation: slideUp .5s ease forwards .35s;
  -o-animation: slideUp .5s ease forwards .35s;
  animation: slideUp .5s ease forwards .35s;
}
main .detail section .list article.article-3 {
  opacity: 0;
  transform: translateY(100px);
  -webkit-animation: slideUp .5s ease forwards .5s;
  -moz-animation: slideUp .5s ease forwards .5s;
  -ms-animation: slideUp .5s ease forwards .5s;
  -o-animation: slideUp .5s ease forwards .5s;
  animation: slideUp .5s ease forwards .5s;
}
main .detail section .list article.article-4 {
  opacity: 0;
  transform: translateY(100px);
  -webkit-animation: slideUp .5s ease forwards .65s;
  -moz-animation: slideUp .5s ease forwards .65s;
  -ms-animation: slideUp .5s ease forwards .65s;
  -o-animation: slideUp .5s ease forwards .65s;
  animation: slideUp .5s ease forwards .65s;
}
@media (min-width: 768px) {
  main .detail section .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
  }
}
main .detail section .list article {
  position: relative;
  overflow: hidden;
  background-color: white;
  margin-bottom: 18px;
  border-radius: 20px;
  box-shadow: 0px 5px 5px rgb(238, 236, 236);
}
@media (min-width: 768px) {
  main .detail section .list article {
    flex: 30%;
  }
}
main .detail section .list article .checked-part {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: auto;
  background-color: #99e2d0;
  height: 100%;
  width: 0;
  position: absolute;
  transition: all 0.5s;
  -webkit-animation: rightSlide .6s ease-in;
  -moz-animation: rightSlide .6s ease-in;
  -ms-animation: rightSlide .6s ease-in;
  -o-animation: rightSlide .6s ease-in;
  animation: rightSlide .6s ease-in;
}
main .detail section .list article .checked-part i.fas.fa-check {
  font-size: 25px;
  color: #99e2d0;
  background-color: white;
  padding: 5px;
  border-radius: 100%;
  transform: rotate(0deg);
}
main .detail section .list article .item-part {
  padding: 20px 15px 20px 10px;
  cursor: pointer;
}
main .detail section .list article .item-part h3 {
  font-weight: 500;
  font-size: 18px;
}
main .detail section .list article .item-part .dish-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 0;
  transition: all 0.5s;
}
main .detail section .list article .item-part .dish-detail p.ingredient {
  font-weight: 100;
  font-size: 15px;
  margin-bottom: 0;
  margin-top: 5px;
}
main .detail section .list article .item-part .dish-detail p.price {
  font-weight: 500;
  color: rgb(67, 66, 66);
  margin-bottom: 0;
  margin-top: 5px;
}
main .detail section .list article:hover {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .detail section .list article:hover .checked-part {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  margin: 0 auto;
  position: absolute;
  right: -80px;
  -webkit-animation: leftSlide 1s forwards;
  -moz-animation: leftSlide 1s forwards;
  -ms-animation: leftSlide 1s forwards;
  -o-animation: leftSlide 1s forwards;
  animation: leftSlide 1s forwards;
}
main .detail section .list article:hover .checked-part i.fas.fa-check {
  -webkit-animation: animationCheck .6s ease-in;
  -moz-animation: animationCheck .6s ease-in;
  -ms-animation: animationCheck .6s ease-in;
  -o-animation: animationCheck .6s ease-in;
  animation: animationCheck .6s ease-in;
}
main .detail section .list article:hover .item-part {
  width: 100%;
  padding: 20px 2px 20px 10px;
}
main .detail section .list article:hover .item-part h3 {
  width: calc(100% - 80px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .detail section .list article:hover .item-part .dish-detail {
  margin-right: 90px;
  transition: all 0.5s;
}
main .detail section .list article:hover .item-part .dish-detail p.ingredient {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 560px) {
  main .detail section .list article:hover .item-part .dish-detail p.ingredient {
    width: 400px;
  }
}
@media (min-width: 768px) {
  main .detail section .list article:hover .item-part .dish-detail p.ingredient {
    width: 800px;
  }
}
@media (min-width: 1080px) {
  main .detail section .list article:hover .item-part .dish-detail p.ingredient {
    width: 1000px;
  }
}

button {
  display: block;
  margin: 0 auto 40px auto;
  font-size: 16px;
  padding: 15px 40px;
  color: white;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  background: linear-gradient(#ff79da, #9356dc);
  border: none;
  box-shadow: 0px 5px 15px rgb(179, 179, 179);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  transform: scale(0.95);
}
button:hover {
  transform: scale(1.01);
  transition-property: transform;
  transition-duration: 400ms;
}

footer {
  z-index: 100;
  transform: translateY(100px);
  opacity: 0;
  background-color: rgb(67, 67, 67);
  color: rgb(245, 244, 244);
  padding-top: 1px;
  padding-bottom: 40px;
  -webkit-animation: slideUp 1.2s ease forwards .8s;
  -moz-animation: slideUp 1.2s ease forwards .8s;
  -ms-animation: slideUp 1.2s ease forwards .8s;
  -o-animation: slideUp 1.2s ease forwards .8s;
  animation: slideUp 1.2s ease forwards .8s;
}
footer .logo {
  margin-top: 20px;
  font-family: "Shrikhand", cursive, sans-serif;
  font-size: 22px;
}
footer .footer-list {
  margin-top: 20px;
}
footer .footer-list .footer-item-with-icon {
  display: flex;
  justify-content: start;
  align-items: center;
}
footer .footer-list .footer-item-with-icon i {
  width: 25px;
  font-size: 14px;
}
footer .footer-list .footer-item-with-icon p {
  margin: 5px 0;
}
footer .footer-list .footer-item {
  margin: 6px 0;
  font-weight: 200;
}

/*# sourceMappingURL=menu.css.map */
