@import "libs/variables";
@import "libs/mixins";
@import "libs/reset.scss";
@import "card";

body {
	font-family: $roboto;
	margin: 0;
	// opacity: 0;
	transform: translateY(100px);
	opacity: 0;
	@include animation("slideUp  ease forwards 1s");
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
.container {
	max-width: 90%;
	margin: auto;
}
header .logo {
	display: block;
	position: relative;
	a {
		cursor: pointer;
		&:hover {
			i {
				color: #4a9482;
			}
		}
		i {
			position: absolute;
			font-size: 20px;
			top: 50%;
			transform: translateY(-50%);
			left: 5%;
			color: rgb(67, 67, 67);
		}
	}
	figure.logo-img {
		@include flex-center();
		margin: 0;
		img {
			margin: 20px auto 15px auto;
			height: 35px;
		}
	}
}
main {
	// position: relative;
	.img-dish {
		width: 100%;
		overflow: hidden;
		figure {
			margin: 0;
			img {
				object-fit: cover;
				max-width: 100%;
			}
		}
	}
	.detail {
		position: absolute;
		top: 190px;
		height: 500px;
		width: 100%;
		background-color: rgb(248, 248, 248);
		border-top-left-radius: 35px;
		border-top-right-radius: 35px;
		padding-top: 10px;
		margin: auto;
		.resto-name {
			display: flex;
			justify-content: space-between;
			align-items: center;
			h1 {
				font-family: $shrikhand;
				font-size: 28px;
				font-weight: 100;
				margin-top: 20px;
			}
			i {
				font-size: 25px;
				transition: all 0.5s ease-in-out;
				&:hover {
					cursor: pointer;
					background: -webkit-gradient(
						linear,
						right top,
						left bottom,
						from($primary-color),
						to($secondary-color)
					);
					background-clip: text;
					-webkit-text-fill-color: transparent;
				}
			}
		}
		section {
			h2 {
				font-weight: 100;
				font-size: 17px;
				margin-top: 40px;
			}
			hr.border {
				border: 2px solid $tertiaire-color;
				width: 40px;
				margin: 2px 0 15px 0;
			}
			.list {
				article {
					background-color: white;
					margin-bottom: 18px;
					border-radius: 20px;
					box-shadow: 0px 5px 5px rgb(238, 236, 236);
					&:hover {
						display: flex;
						justify-content: space-between;
						align-items: center;
						.checked-part {
							display: block;
							i {
								transform: rotate(0turn);
							}
							// background-color: #4a9482;
							// width: 20px;
							// height: 100%;
						}
					}
					.item-part {
						flex-basis: 75%;
						padding: 12px 20px 12px 10px;
						h3 {
							font-weight: 500;
							font-size: 18px;
						}
						.dish-detail {
							display: flex;
							justify-content: space-between;
							align-items: center;
							p.ingredient {
								font-weight: 100;
								font-size: 15px;
								margin-bottom: 0;
								margin-top: 5px;
							}
							p.price {
								font-weight: 500;
								color: rgb(67, 66, 66);
								margin-bottom: 0;
								margin-top: 5px;
							}
						}
					}
					.checked-part {
						display: none;
						background-color: #4a9482;
						height: 100%;
						i {
							transform: rotate(-1turn);
							transition: transform 500ms ease-in-out;
						}
					}
				}
			}
		}
	}
}
button {
	margin: 40px auto 40px auto;
	font-size: 16px;
	padding: 15px 40px;
	@include gradientButton;
}
footer {
	@include footerStyle;
	@include animation("slideUp 1.2s ease forwards .8s");
}
