@import "libs/variables";
@import "libs/mixins";
@import "libs/reset.scss";
@import "layouts/footer";
@import "utils/animation";
@import "layouts/reusablePart";

body {
	font-family: $roboto;
	margin: 0;
	transform: translateY(100px);
	opacity: 0;
	@include animation("slideUp  ease forwards 1s");
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
.container {
	max-width: 90%;
	margin: auto;
}
header .logo {
	display: block;
	position: relative;
	a {
		cursor: pointer;
		&:hover {
			i {
				color: #4a9482;
			}
		}
		i {
			position: absolute;
			font-size: 20px;
			top: 50%;
			transform: translateY(-50%);
			left: 5%;
			color: rgb(67, 67, 67);
		}
	}
	figure.logo-img {
		@include flex-center();
		margin: 0;
		img {
			margin: 20px auto 15px auto;
			height: 35px;
		}
	}
}
main {
	display: block;
	position: relative;
	height: max-content;
	.img-dish {
		width: 100%;
		overflow: hidden;
		figure {
			margin: 0;
			img {
				object-fit: cover;
				max-width: 100%;
			}
		}
	}
	.detail {
		display: block;
		transform: translateY(-35px);
		width: 100%;
		background-color: rgb(248, 248, 248);
		border-top-left-radius: 35px;
		border-top-right-radius: 35px;
		padding-top: 10px;
		margin: auto;
		.resto-name {
			display: flex;
			justify-content: space-between;
			align-items: center;
			h1 {
				font-family: $shrikhand;
				font-size: 28px;
				font-weight: 100;
				margin-top: 20px;
			}
			.heart-icon {
				@include heartIcon;
			}
		}
		section {
			h2 {
				font-weight: 100;
				font-size: 17px;
				margin-top: 40px;
			}
			hr.border {
				border: 2px solid $tertiaire-color;
				width: 40px;
				margin: 2px 0 15px 0;
			}
			.list {
				article.article-1 {
					opacity: 0;
					transform: translateY(100px);
					@include animation("slideUp .8s ease forwards .6s");
				}
				article.article-2 {
					opacity: 0;
					transform: translateY(100px);
					@include animation("slideUp .8s ease forwards .7s");
				}
				article.article-3 {
					opacity: 0;
					transform: translateY(100px);
					@include animation("slideUp .8s ease forwards .8s");
				}

				article {
					position: relative;
					overflow: hidden;
					background-color: white;
					margin-bottom: 18px;
					border-radius: 20px;
					box-shadow: 0px 5px 5px rgb(238, 236, 236);
					.checked-part {
						border-top-right-radius: 20px;
						border-bottom-right-radius: 20px;
						margin: auto;
						background-color: $tertiaire-color;
						height: 100%;
						display: none;
					}
					.checked-part i.fas.fa-check {
						font-size: 25px;
						color: $tertiaire-color;
						background-color: white;
						padding: 5px;
						border-radius: 100%;
						@include transition("transform 2.5s");
						transform: rotate(0deg);
					}
					.item-part {
						padding: 20px 15px 20px 10px;
						cursor: pointer;
						h3 {
							font-weight: 500;
							font-size: 18px;
						}
						.dish-detail {
							display: flex;
							justify-content: space-between;
							align-items: center;

							p.ingredient {
								font-weight: 100;
								font-size: 15px;
								margin-bottom: 0;
								margin-top: 5px;
							}
							p.price {
								font-weight: 500;
								color: rgb(67, 66, 66);
								margin-bottom: 0;
								margin-top: 5px;
							}
						}
					}
					&:hover {
						display: flex;
						justify-content: space-between;
						align-items: center;
						.checked-part {
							display: flex;
							justify-content: center;
							align-items: center;
							width: 80px;
							margin: 0 auto;
							position: absolute;
							right: -80px;
							@include animation("leftSlide 1s forwards");
							i.fas.fa-check {
								@include animation(
									"animationCheck .6s ease-in"
								);
							}
						}
						.item-part {
							width: 100%;
							padding: 20px 2px 20px 10px;
							.dish-detail {
								margin-right: 90px;
								transition: all 0.5s;
							}
						}
					}
				}
			}
		}
	}
}
button {
	display: block;
	margin: 0 auto 40px auto;
	font-size: 16px;
	padding: 15px 40px;
	@include gradientButton;
}
footer {
	z-index: 100;
	@include footerStyle;
	@include animation("slideUp 1.2s ease forwards .8s");
}
